In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv(r"E:\Data Scientist\Machine Learning\Prashant sir\Notes\Day5\Position_Salaries.csv")

In [3]:
data.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [4]:
features = data.iloc[:,[1]].values
label = data.iloc[:,[2]].values

In [10]:
from sklearn.preprocessing import PolynomialFeatures
polyfeatures = PolynomialFeatures(degree=3)
features = polyfeatures.fit_transform(features)

In [11]:
features

array([[   1.,    1.,    1.,    1.],
       [   1.,    2.,    4.,    8.],
       [   1.,    3.,    9.,   27.],
       [   1.,    4.,   16.,   64.],
       [   1.,    5.,   25.,  125.],
       [   1.,    6.,   36.,  216.],
       [   1.,    7.,   49.,  343.],
       [   1.,    8.,   64.,  512.],
       [   1.,    9.,   81.,  729.],
       [   1.,   10.,  100., 1000.]])

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(features,
                                                label,
                                                test_size = 0.2,
                                                random_state = 1)

In [13]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
print(lr.score(X_train,Y_train))
print(lr.score(X_test,Y_test))

0.9935877167130147
0.8305187615068365